.button {
    cursor: pointer;
    color: var(--inverted-primary-color);
}

.primary {
    background-color: var(--button-color);
}

.outline {
    background-color: transparent;
}

.clear {
    color: var(--button-color);
    background-color: transparent;
    border: none;
    outline: none;
}
