.app.dark {
    --bg-color-primary: #112849;
    --bg-color-secondary: #203a5c;
    --primary-color: #e6f7ff;
    --inverted-primary-color: #e6f7ff;
    --secondary-color: #fff;
    --inverted-secondary-color: #fff;
    --button-color: #40a9ff;
    --link-color: #69c0ff;
}
