.app.normal {
    --bg-color-primary: #f7f7f7;
    --bg-color-secondary: #292929;
    --primary-color: #000;
    --inverted-primary-color: #f7f7f7;
    --secondary-color: #292929;
    --inverted-secondary-color: #fff;
    --button-color: #ffdd56;
    --link-color: #69c0ff;
}
